// size
$navHeight: 60px;
$footerHeight: 120px;
$centerWidth: 1200px;
$asideWidth: 260px;
$layoutWidth: 1000px;
$topTitleHeight: 440px;
$btnWidth: 70px;

// 圆角
$bigRadius: 20px;
$midRadius: 12px;

// 间距
$space: 20px;

// 按钮/字体高亮/hover
$hoverColor: var(--hoverColor, rgb(98, 164, 218));
