@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.theme-dark {
  /* --color-primary: 94 129 172;
  --color-foreground: 255 255 255; */
  --themeColor: rgb(12, 29, 27);
  --themeColor1: rgb(22, 54, 51);
  --themeColor2: rgb(39, 95, 89);
  --textColor: rgb(255, 255, 255);
  --switchOff: rgb(77, 77, 77);
  --tip: rgb(116, 116, 116);
  --bodyColor: rgb(0, 0, 0);
  --footerBg: rgba(0, 0, 0, 0.5);
  --codeBg: rgb(37, 43, 48);
  --textColor2: rgb(167, 167, 167);
  --inlineCode: rgb(29, 71, 67);
  --hoverColor: rgb(98, 164, 218) !important;
  --backgroundImage: url('./../assets/images/background.jpg');
}

.theme-light {
  /* --color-primary: 38 139 210;
  --color-foreground: 0 0 0; */
  --themeColor: rgb(185, 232, 255);
  --themeColor1: rgb(157, 222, 255);
  --themeColor2: rgb(110, 207, 255);
  --textColor: rgb(53, 53, 53);
  --switchOff: rgb(179, 198, 207);
  --tip: rgb(180, 180, 180);
  --bodyColor: rgb(255, 255, 255);
  --footerBg: rgba(255, 255, 255, 0.5);
  --codeBg: rgb(224 254 255);
  --textColor2: rgb(122, 122, 122);
  --inlineCode: rgb(136, 215, 255);
  --hoverColor: rgb(98, 164, 218);
  --backgroundImage: url('./../assets/images/background-light.jpg');
}
